<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h4>Mantenimiento de Clientes</h4>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarCliente" class="btn btn-success">
                Agregar
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRegistroCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestión de Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombres</label>
                            <input type="text" class="form-control" id="txtNombres" />
                        </div>
                        <div class="col-md-6">
                            <label>Apellidos</label>
                            <input type="text" class="form-control" id="txtApellidos" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Ciudad</label>
                            <input type="text" class="form-control" id="txtCiudad" />
                        </div>
                        <div class="col-md-4">
                            <label>País</label>
                            <input type="text" class="form-control" id="txtPais" />
                        </div>
                        <div class="col-md-4">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" id="txtTelefono" />
                            <input type="hidden" id="hidCliente" value="-1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGrabarCliente">Grabar</button>
            </div>
        </div>
    </div>
</div>

<div id="divListadoClientes">

</div>


<script>

    $("#divListadoClientes").on("click", ".btnEditarCliente", function () {
        let vIdCliente = $(this).attr("data-id");
        $("#hidCliente").val(vIdCliente);
        let modalRegistro = $("#modalRegistroCliente");

        $.ajax({
            type: "GET",
            url: '@Url.Action("Obtener","Customer")',
            cache: false,
            data: {
                idCliente: vIdCliente
            },
            success: function (objCliente) {
                $("#txtNombres").val(objCliente.firstName);
                $("#txtApellidos").val(objCliente.lastName);
                $("#txtCiudad").val(objCliente.city);
                $("#txtPais").val(objCliente.country);
                $("#txtTelefono").val(objCliente.phone);
                modalRegistro.modal();
            }
        });
    });

    $("#divListadoClientes").on("click", ".btnEliminarCliente", function () {
        let vIdCliente = $(this).attr("data-id");
        /* if (confirm("¿Estás seguro de eliminar al cliente?")) {*/

        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Eliminar","Customer")',
                cache: false,
                data: {
                    idCliente: vIdCliente
                },
                success: function (exito) {
                    if (exito) {
                        swal("Se eliminó correctamente...");
                        CargarListadoClientes();
                    } else {
                        swal("Ocurrió un inconveniente al eliminar el cliente");
                    }

                }

            });
                swal("Deleted!", "Your imaginary file has been deleted.", "success");
            });




        /*}*/






    });

    $("#btnGrabarCliente").click(function () {
        let vNombres = $("#txtNombres").val();
        let vApellidos = $("#txtApellidos").val();
        let vCiudad = $("#txtCiudad").val();
        let vPais = $("#txtPais").val();
        let vTelefono = $("#txtTelefono").val();
        let vIdCliente = $("#hidCliente").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Grabar","Customer")',
            cache: false,
            data: {
                idCliente: vIdCliente,
                nombres: vNombres,
                apellidos: vApellidos,
                ciudad: vCiudad,
                pais: vPais,
                telefono: vTelefono
            },
            success: function (exito) {
                if (exito) {
                    swal("Se registró correctamente...");
                    CargarListadoClientes();
                    $("#modalRegistroCliente").modal("toggle");
                }
            }
        });




    });

    $("#btnAgregarCliente").click(function () {
        $("#modalRegistroCliente").modal();
    })

    CargarListadoClientes();
    function CargarListadoClientes() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Listado","Customer")',
            cache: false,
            success: function (listadoHTML) {
                $("#divListadoClientes").html(listadoHTML);
            }
        });

    }


</script>
